body {
    background-color: #e9fffc;
}

.openPlaylistButt {
    width: 120px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    background: #ffffff;
    color: #000;
    border: 1px #3e6b62 solid;
    font-family: Caveat;
    font-size: larger;
    z-index: 0;
}


.open_createMyPlaylistButt_wind {
    width: 120px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    background: #ffffff;
    color: #000;
    border: 1px #3e6b62 solid;
    font-family: Caveat;
    font-size: larger;
    z-index: 0;
}



.open_albumsButt {
    width: 120px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    background: #ffffff;
    color: #000;
    border: 1px #3e6b62 solid;
    font-family: Caveat;
    font-size: larger;
    z-index: 0;
}



.backroundPopup {
    width: 370px;
    height: 250px;
    margin: -25;
    padding: 0;
    border-radius: 5px;
}

.text {
    font-size: 16px;
}

.mus_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.createMyPlaylistButt {
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    background: #ffffff;
    color: #000000;
    border: 1px #3e6b62 solid;
    font-family: Caveat;
    font-size: larger;
    z-index: 0;
    width: 100%;
    height: 35px;
    
}


.close_createMyPlaylistButt_wind {
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    background: #ffffff;
    color: #000000;
    border: 1px #3e6b62 solid;
    font-family: Caveat;
    font-size: larger;
    z-index: 0;
    width: 100%;
    height: 35px;
    
}

.close_createMyPlaylistButt_wind:hover {
    transform: ease(1.02);
    background-color: #8ffde7;
}

.nameAlbumArea {
    background-color: #fdfdfdda;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

.nameAlbumArea:hover {
    transition: background-color 0.5s, transform 0.4s;
    box-sizing: border-box;
    width: 100%;
    transform: scale(1.03);
}

.dark-input::placeholder {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dark-input:focus {
    background-color: #34495e;
    border-color: #1abc9c;
    outline: none;
}

.text {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-size: 16px;
}

.container-audio {
    background-color: #cdedee;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    width: 95%;
    height: auto;
    padding: 10px;
    border: 1px solid #3e6b62;
    color: #000;
}

.backroundPopup {
    width: 370px;
    height: 250px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.backroundPopup:hover {
    transform: scale(1.02);
}

.album {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #cdedee;
    margin-top: 25px;
    border-radius: 10px;
    border: 1px solid #3e6b62;
}

.albumTitle {
    font-size: 17px;
}

.album_ButtBlock {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.openAlbum {
    width: 50px;
    height: 45px;
    background-color: #ffffff;
    background-image: url("./../Images/open_album.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;

   
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.openAlbum:hover {
    background-color: #8ffde7;
    border: 1px solid black;
}

.delAlbum {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    background-image: url("./../Images/delete.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.delAlbum:hover {
    background-color: #8ffde7;
    border: 1px solid black;
}

.playAlbum {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    background-image: url("./../Images/play.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.playAlbum:hover {
    background-color: #8ffde7;
    border: 1px solid black;
}

.delButt {
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    background-image: url("./../Images/delete.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.delButt:hover {
    background-color: #8ffde7;
    border: 1px solid black;
}

.intoAlbom_butt {
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    background-image: url("./../Images/add.png");
    background-repeat: no-repeat;
    background-size: 50%;
    border: 1px solid black;
    background-position: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.intoAlbom_butt:hover {
    background-color: #8ffde7;
    border: 1px solid black;
}

.album_audioBlock {
    visibility: hidden;
    display: none;
}



.selectAlb{
    width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  /* font-size: 1.25rem; */
  font-size: 16px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  align-items: center;
}
.selectAlb::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

  .openPlaylistButt:hover, .open_createMyPlaylistButt_wind:hover, .open_albumsButt:hover, .createMyPlaylistButt:hover{
    transform: ease(1.02);
    transition: transform 0.1s ease;
    background-color: #8ffde7;
    -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1);
  }
  .button:hover {
    transform: ease(1.02);
    transition: transform 0.1s ease;
    background-color: #8ffde7;
    -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1);
}
.openPlaylistButt:active, .open_createMyPlaylistButt_wind:active, .open_albumsButt:active .createMyPlaylistButt:active{
    transform: scale(0.97); /* Смещение по оси Y */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); /* Изменение тени */
  }
  button:active {
    transform: scale(0.97); /* Смещение по оси Y */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); /* Изменение тени */
  }
